# 고객 정보 관리를 엑셀로 관리를 할 때 

## keyword 장사가 자라되고 매출도 안정적이다. 

## 여러가지 발견을 해보자

In [33]:
import pandas as pd 

uriage_data = pd.read_csv('uriage.csv')
uriage_data.head()
uriage_data.tail()

         purchase_date item_name  item_price customer_name
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

In [34]:
kokyaku_data = pd.read_excel('kokyaku_daicho.xlsx')

In [35]:
kokyaku_data.head()

   고객이름  지역                  등록일
0  김 현성  H시  2018-01-04 00:00:00
1  김 도윤  E시                42782
2  김 지한  A시  2018-01-07 00:00:00
3  김 하윤  F시                42872
4  김 시온  E시                43127

In [36]:
kokyaku_data.tail()

     고객이름  지역                  등록일
195  김 재희  G시  2017-06-20 00:00:00
196  김 도영  E시  2018-06-20 00:00:00
197  김 이안  F시  2017-04-29 00:00:00
198  김 시현  H시  2019-04-19 00:00:00
199  김 서우  D시  2019-04-23 00:00:00

In [37]:
# 각 데이터 별 형 타입 이해하기 

uriage_data.dtypes

purchase_date     object
item_name         object
item_price       float64
customer_name     object
dtype: object

In [38]:
kokyaku_data.dtypes

고객이름    object
지역      object
등록일     object
dtype: object

 * uriage의 purchase date 는 object, kokyaku의 데이터는 object라는 것을 볼 수 있다. 
 
 * 그 다음 item _name에서 오류가 보이는 것을 볼 수 있다. 상 품 s  뭐 이런 식으로 이런거 관리를 해줘얒
 
 * 이 관리가 데이터 전처리의 일종 이라고 보면된다.

In [39]:
uriage_data['item_name'].head()

0      상품A
1    상 품 S
2    상 품 a
3      상품Z
4      상품a
Name: item_name, dtype: object

In [40]:
uriage_data['item_price'].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

# 요상한 데이터 처리하기 

### item_name에서 상품 A , 상 품 S , 상 품 a 상품Z 상품a**********이렇게 볼 수 있다. 우리가 처리해야할 것은 일관성있게 처리해야한다.

### item_price는 NaN값들이 막 있는 것이 보인다. 그런것들을 어떻게 처리할건지 짱구를 굴려봐야한다. 알겠냐?

# 데이터에 오류가 있는 상태로 집계를 해보기 

데이터의 정합성이 얼마나 중요한가?

uriage_data["purchase_date"] = pd.to_datetime(uriage_data["purchase_date"]

uriage_data["purchase_month"] = uriage_data["purchase_date].dt.strftime("%Y%M")

res = uriage_data.pivot_table(index="purchase_month",columns = "item_name",aggfunc= "size", fill_value=0)

In [41]:
# uriage_data["purchase_date"] = pd.to_datetime(uriage_data["purchase_date"])

# uriage_data["purchase_month"] = uriage_data["purchase_date"].dt.strftime("%Y%M")

# res = uriage_data.pivot_table(index="purchase_month",columns = "item_name",aggfunc= "size", fill_value=0)

# res

In [42]:
#1. item_name 의 이름을 바꿔준다 어떻게? 통일성있게. str.upper , 

uriage_data["item_name"] = uriage_data["item_name"].str.upper()

uriage_data["item_name"] = uriage_data["item_name"].str.replace(" ", "")

uriage_data["item_name"]

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [43]:
kokyaku_data["고객이름"] = kokyaku_data["고객이름"].str.replace(" ","")


kokyaku_data["고객이름"]

0      김현성
1      김도윤
2      김지한
3      김하윤
4      김시온
      ...
195    김재희
196    김도영
197    김이안
198    김시현
199    김서우
Name: 고객이름, Length: 200, dtype: object

In [44]:
uriage_data.info

<bound method DataFrame.info of          purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]>

In [45]:
uriage_data.info(["item_price"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   object
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: float64(1), object(3)
memory usage: 93.8+ KB

In [46]:
find_Nan = uriage_data["item_price"].isnull()
find_price = uriage_data[find_Nan==False]
find_Nan
find_price

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
3     2019-02-12 23:40       상품Z      2600.0           김재현
5     2019-03-20 19:16       상품S      1900.0           김우진
7      2019-04-18 0:14       상품V      2200.0           김민혁
8     2019-01-10 15:51       상품O      1500.0           김선우
...                ...       ...         ...           ...
2991  2019-02-18 14:36       상품W      2300.0           김우빈
2993   2019-01-25 3:57       상품C       300.0           김이안
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2998   2019-07-21 0:31       상품D       400.0           정준기

[2612 rows x 4 columns]

In [47]:
for e in list(uriage_data.loc[find_Nan , "item_name"].unique()):
    
#     print(e)

    ad= find_price.loc[(find_price["item_name"] == e),'item_price'].iloc[0]
    
# #     print(ad)
    
    uriage_data["item_price"].loc[(find_Nan) & (uriage_data["item_name"]==e)] = ad
    
    print(ad)

1900.0
100.0
1600.0
1400.0
2300.0
1800.0
900.0
1200.0
600.0
1500.0
200.0
300.0
2200.0
1700.0
2100.0
1100.0
2000.0
2400.0
500.0
1300.0
700.0
1000.0
400.0
800.0
2500.0

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [48]:
uriage_data

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S      1900.0           김우찬
2     2019-05-11 19:42       상품A       100.0           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A       100.0           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q      1700.0           김지율
2997  2019-07-14 12:56       상품H       800.0           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [49]:

a = kokyaku_data["등록일"].astype(str).str.isdigit()

kokyaku_data.loc[a,"등록일"]

1      42782
3      42872
4      43127
21     42920
27     42901
47     42741
49     42929
53     42833
76     43188
80     43110
99     42885
114    43254
118    43129
122    43206
139    42880
143    42818
155    42754
172    43181
179    42743
183    42940
186    43294
192    43259
Name: 등록일, dtype: object

import time
pd.Timedelta(kokyaku_data.loc[a,"등록일"], unit="D") +datetime.datetime(1900, 1,1)

In [50]:
a23 = []

for i in kokyaku_data.loc[a,"등록일"]:
   a23.append(pd.Timedelta(int(i), unit="D") + datetime.datetime(1900,1,1))

NameError: name 'datetime' is not defined

In [ ]:
pd.to_datetime(a23)

In [ ]:
kokyaku_data.loc[a,"등록일"] = a23

In [ ]:
kokyaku_data

In [ ]:
a33 = pd.to_datetime(kokyaku_data.loc[~a,"등록일"])

In [ ]:
a33 = kokyaku_data.loc[~a,"등록일"]

a44= pd.to_datetime(kokyaku_data["등록일"]).dt.strftime("%Y%m")

In [ ]:
kokyaku_data['등록일'] = a44

In [ ]:
merge_data = pd.merge(uriage_data, kokyaku_data,left_on="customer_name",right_on="고객이름",how="left")

In [ ]:
merge_data.reset_index

In [ ]:
merge_data.drop("customer_name",axis=1)

In [51]:
item = merge_data.pivot_table(index ="item_name",columns ="지역",aggfunc ="size",fill_value=0)

In [55]:
item.to_excel('item_name.xlsx')