# 고객 정보 관리를 엑셀로 관리를 할 때 

## keyword 장사가 자라되고 매출도 안정적이다. 

## 여러가지 발견을 해보자

In [40]:
import pandas as pd 

uriage_data = pd.read_csv('pyda100-master/2장/uriage.csv')
uriage_data.head()
# uriage_data.tail()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [41]:
kokyaku_data = pd.read_excel('pyda100-master/2장/kokyaku_daicho.xlsx')

In [42]:
kokyaku_data.head()

   고객이름  지역                  등록일
0  김 현성  H시  2018-01-04 00:00:00
1  김 도윤  E시                42782
2  김 지한  A시  2018-01-07 00:00:00
3  김 하윤  F시                42872
4  김 시온  E시                43127

In [43]:
kokyaku_data.tail()

     고객이름  지역                  등록일
195  김 재희  G시  2017-06-20 00:00:00
196  김 도영  E시  2018-06-20 00:00:00
197  김 이안  F시  2017-04-29 00:00:00
198  김 시현  H시  2019-04-19 00:00:00
199  김 서우  D시  2019-04-23 00:00:00

In [44]:
# 각 데이터 별 형 타입 이해하기 

uriage_data.dtypes

purchase_date     object
item_name         object
item_price       float64
customer_name     object
dtype: object

In [45]:
kokyaku_data.dtypes

고객이름    object
지역      object
등록일     object
dtype: object

 * uriage의 purchase date 는 object, kokyaku의 데이터는 object라는 것을 볼 수 있다. 
 
 * 그 다음 item _name에서 오류가 보이는 것을 볼 수 있다. 상 품 s  뭐 이런 식으로 이런거 관리를 해줘얒
 
 * 이 관리가 데이터 전처리의 일종 이라고 보면된다.

In [46]:
uriage_data['item_name'].head()

0      상품A
1    상 품 S
2    상 품 a
3      상품Z
4      상품a
Name: item_name, dtype: object

In [47]:
uriage_data['item_price'].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

# 요상한 데이터 처리하기 

### item_name에서 상품 A , 상 품 S , 상 품 a 상품Z 상품a**********이렇게 볼 수 있다. 우리가 처리해야할 것은 일관성있게 처리해야한다.

### item_price는 NaN값들이 막 있는 것이 보인다. 그런것들을 어떻게 처리할건지 짱구를 굴려봐야한다. 알겠냐?

# 데이터에 오류가 있는 상태로 집계를 해보기 

데이터의 정합성이 얼마나 중요한가?

uriage_data["purchase_date"] = pd.to_datetime(uriage_data["purchase_date"]

uriage_data["purchase_month"] = uriage_data["purchase_date].dt.strftime("%Y%M")

res = uriage_data.pivot_table(index="purchase_month",columns = "item_name",aggfunc= "size", fill_value=0)

In [48]:
# uriage_data["purchase_date"] = pd.to_datetime(uriage_data["purchase_date"])

# uriage_data["purchase_month"] = uriage_data["purchase_date"].dt.strftime("%Y%M")

# res = uriage_data.pivot_table(index="purchase_month",columns = "item_name",aggfunc= "size", fill_value=0)

# res

In [49]:
#1. item_name 의 이름을 바꿔준다 어떻게? 통일성있게. str.upper , 

uriage_data["item_name"] = uriage_data["item_name"].str.upper()

uriage_data["item_name"] = uriage_data["item_name"].str.replace(" ", "")

uriage_data["item_name"]

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [50]:
kokyaku_data["고객이름"] = kokyaku_data["고객이름"].str.replace(" ","")


kokyaku_data["고객이름"]

0      김현성
1      김도윤
2      김지한
3      김하윤
4      김시온
      ...
195    김재희
196    김도영
197    김이안
198    김시현
199    김서우
Name: 고객이름, Length: 200, dtype: object

In [51]:
uriage_data.info

<bound method DataFrame.info of          purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]>

In [52]:
uriage_data.info(["item_price"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   object
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: float64(1), object(3)
memory usage: 93.8+ KB

In [53]:
find_Nan = uriage_data["item_price"].isnull()

find_Nan

0       False
1        True
2        True
3       False
4        True
        ...
2994    False
2995    False
2996     True
2997     True
2998    False
Name: item_price, Length: 2999, dtype: bool

In [54]:
find_Nan = uriage_data["item_price"].isnull()
find_price = uriage_data[find_Nan==False]
find_Nan
find_price

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
3     2019-02-12 23:40       상품Z      2600.0           김재현
5     2019-03-20 19:16       상품S      1900.0           김우진
7      2019-04-18 0:14       상품V      2200.0           김민혁
8     2019-01-10 15:51       상품O      1500.0           김선우
...                ...       ...         ...           ...
2991  2019-02-18 14:36       상품W      2300.0           김우빈
2993   2019-01-25 3:57       상품C       300.0           김이안
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2998   2019-07-21 0:31       상품D       400.0           정준기

[2612 rows x 4 columns]

In [55]:
find_Nan

0       False
1        True
2        True
3       False
4        True
        ...
2994    False
2995    False
2996     True
2997     True
2998    False
Name: item_price, Length: 2999, dtype: bool

In [56]:
find_price

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
3     2019-02-12 23:40       상품Z      2600.0           김재현
5     2019-03-20 19:16       상품S      1900.0           김우진
7      2019-04-18 0:14       상품V      2200.0           김민혁
8     2019-01-10 15:51       상품O      1500.0           김선우
...                ...       ...         ...           ...
2991  2019-02-18 14:36       상품W      2300.0           김우빈
2993   2019-01-25 3:57       상품C       300.0           김이안
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2998   2019-07-21 0:31       상품D       400.0           정준기

[2612 rows x 4 columns]

In [57]:
find_price.loc[(uriage_data["item_name"] == '상품A'),'item_price'].iloc[0]

100.0

In [58]:
find_price.loc[(find_price["item_name"] == '상품S'),'item_price'].iloc[0]

1900.0

In [59]:
for e in list(uriage_data.loc[find_Nan , "item_name"].unique()):
    
#     print(e)

    ad= find_price.loc[(find_price["item_name"] == e),'item_price'].iloc[0]
    
# #     print(ad)
    
    uriage_data["item_price"].loc[(find_Nan) & (uriage_data["item_name"]==e)] = ad
    
    print(ad)

1900.0
100.0
1600.0
1400.0
2300.0
1800.0
900.0
1200.0
600.0
1500.0
200.0
300.0
2200.0
1700.0
2100.0
1100.0
2000.0
2400.0
500.0
1300.0
700.0
1000.0
400.0
800.0
2500.0

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [60]:
uriage_data

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S      1900.0           김우찬
2     2019-05-11 19:42       상품A       100.0           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A       100.0           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q      1700.0           김지율
2997  2019-07-14 12:56       상품H       800.0           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [61]:
kokyaku_data

    고객이름  지역                  등록일
0    김현성  H시  2018-01-04 00:00:00
1    김도윤  E시                42782
2    김지한  A시  2018-01-07 00:00:00
3    김하윤  F시                42872
4    김시온  E시                43127
..   ...  ..                  ...
195  김재희  G시  2017-06-20 00:00:00
196  김도영  E시  2018-06-20 00:00:00
197  김이안  F시  2017-04-29 00:00:00
198  김시현  H시  2019-04-19 00:00:00
199  김서우  D시  2019-04-23 00:00:00

[200 rows x 3 columns]

In [62]:
uriage_data['customer_name'].rename('고객이름', inplace = True)
uriage_data

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S      1900.0           김우찬
2     2019-05-11 19:42       상품A       100.0           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A       100.0           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q      1700.0           김지율
2997  2019-07-14 12:56       상품H       800.0           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [63]:
kokyaku_data.shape[0]

200

In [64]:
import time
import datetime

In [26]:
kokyaku_data.shape[0]

200

In [84]:
a= kokyaku_data["등록일"].astype(str).str.isdigit()

kokyaku_data.loc[a,"등록일"]

1      42782
3      42872
4      43127
21     42920
27     42901
47     42741
49     42929
53     42833
76     43188
80     43110
99     42885
114    43254
118    43129
122    43206
139    42880
143    42818
155    42754
172    43181
179    42743
183    42940
186    43294
192    43259
Name: 등록일, dtype: object

In [85]:
a2 = kokyaku_data[~a,"등록일"]

TypeError: '(0       True
1      False
2       True
3      False
4      False
       ...
195     True
196     True
197     True
198     True
199     True
Name: 등록일, Length: 200, dtype: bool, '등록일')' is an invalid key

In [27]:
for i in range(0, kokyaku_data.shape[0]):
    if type(kokyaku_data['등록일'].iloc[i]) == int:
        kokyaku_data['등록일'].iloc[i] = pd.to_datetime(kokyaku_data['등록일'].iloc[i],
                                                     unit='D', origin=pd.Timestamp('1900-01-01'))

In [28]:
kokyaku_data

    고객이름  지역                  등록일
0    김현성  H시  2018-01-04 00:00:00
1    김도윤  E시  2017-02-18 00:00:00
2    김지한  A시  2018-01-07 00:00:00
3    김하윤  F시  2017-05-19 00:00:00
4    김시온  E시  2018-01-29 00:00:00
..   ...  ..                  ...
195  김재희  G시  2017-06-20 00:00:00
196  김도영  E시  2018-06-20 00:00:00
197  김이안  F시  2017-04-29 00:00:00
198  김시현  H시  2019-04-19 00:00:00
199  김서우  D시  2019-04-23 00:00:00

[200 rows x 3 columns]

In [37]:
uriage_data.rename(columns={'customer_name' : '고객이름'}, inplace=True)
uriage_data

         purchase_date item_name  item_price 고객이름
0     2019-06-13 18:02       상품A       100.0  김가온
1     2019-07-13 13:05       상품S      1900.0  김우찬
2     2019-05-11 19:42       상품A       100.0  김유찬
3     2019-02-12 23:40       상품Z      2600.0  김재현
4      2019-04-22 3:09       상품A       100.0  김강현
...                ...       ...         ...  ...
2994   2019-02-15 2:56       상품Y      2500.0  김정민
2995   2019-06-22 4:03       상품M      1300.0  김재원
2996  2019-03-29 11:14       상품Q      1700.0  김지율
2997  2019-07-14 12:56       상품H       800.0  김승주
2998   2019-07-21 0:31       상품D       400.0  정준기

[2999 rows x 4 columns]

In [36]:
merge_date = pd.merge(uriage_data, kokyaku_data,left_on="customer_name" ,right_on="고객이름", how="left")

KeyError: 'customer_name'