## 다시 한번 2장 복습해보기 

* 데이터 값 불러오기 

* 데이터 전 처리 과정상세 => 어떻게 접근할건가 

* 데이터 분석을 어떻게 접근 할껀가? 까지

# 데이터 값 불러오기 및 데이터 형태의 체크

In [1]:
# uriage.csv , kokyaku_daicho.xlsx
import pandas as pd 
import numpy as np
uriage_data = pd.read_csv('./uriage.csv')
kokyaku_data = pd.read_excel('./kokyaku_daicho.xlsx')

In [2]:
# .head() , .tail() , .shape , .info()

uriage_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   object
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: float64(1), object(3)
memory usage: 93.8+ KB

In [3]:
kokyaku_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   고객이름    200 non-null    object
 1   지역      200 non-null    object
 2   등록일     200 non-null    object
dtypes: object(3)
memory usage: 4.8+ KB

In [4]:
uriage_data.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [5]:
kokyaku_data.head()

   고객이름  지역                  등록일
0  김 현성  H시  2018-01-04 00:00:00
1  김 도윤  E시                42782
2  김 지한  A시  2018-01-07 00:00:00
3  김 하윤  F시                42872
4  김 시온  E시                43127

In [6]:
uriage_data.tail()

         purchase_date item_name  item_price customer_name
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

In [7]:
kokyaku_data.tail()

     고객이름  지역                  등록일
195  김 재희  G시  2017-06-20 00:00:00
196  김 도영  E시  2018-06-20 00:00:00
197  김 이안  F시  2017-04-29 00:00:00
198  김 시현  H시  2019-04-19 00:00:00
199  김 서우  D시  2019-04-23 00:00:00

In [8]:
uriage_data.shape

(2999, 4)

In [9]:
kokyaku_data.shape

(200, 3)

# 어떻게 데이터 전처리할 것인가? 

* uriage_data 와 kokyaku_data를 봤을 때 uriage 는 (2999,4), kokyaku_data는 (200,3)으로 볼 수 있다. 


* uriage_data의  상품명이 통일되지 않는 것을 볼 수 있다. item_price의 값에서 비어있는 값을 볼 수 있다.

=> 그것을 어떻게 처리할 것인가? 도 관건이다 387개의 값이 비어있음. 


*  kokyaku_data의 날짜의 형태가 이상한 것도 볼 수있다. 어떻게 접근할 것인가?

In [10]:
#string 형태의 upper  모든 영어를 대문자로 만들어준거임

uriage_data["item_name"] = uriage_data['item_name'].str.upper()
#string 형태로 " "를 ""로 변경 
uriage_data["item_name"]= uriage_data["item_name"].str.replace(" ","")


uriage_data["item_name"]

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [11]:
#kokyaku_date의 고객명을 붙여보자

kokyaku_data["고객이름"].str.replace(" ", "")

0      김현성
1      김도윤
2      김지한
3      김하윤
4      김시온
      ...
195    김재희
196    김도영
197    김이안
198    김시현
199    김서우
Name: 고객이름, Length: 200, dtype: object

# 상품가격의 Nan 값을 => 바꿔주자

In [12]:
#Nan_price의 위치
Nan_price =uriage_data["item_price"].isnull()

Nan_price

0       False
1        True
2        True
3       False
4        True
        ...
2994    False
2995    False
2996     True
2997     True
2998    False
Name: item_price, Length: 2999, dtype: bool

In [13]:
# origin_price의 위치 

origin_price =uriage_data[Nan_price == False]

origin_price

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
3     2019-02-12 23:40       상품Z      2600.0           김재현
5     2019-03-20 19:16       상품S      1900.0           김우진
7      2019-04-18 0:14       상품V      2200.0           김민혁
8     2019-01-10 15:51       상품O      1500.0           김선우
...                ...       ...         ...           ...
2991  2019-02-18 14:36       상품W      2300.0           김우빈
2993   2019-01-25 3:57       상품C       300.0           김이안
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2998   2019-07-21 0:31       상품D       400.0           정준기

[2612 rows x 4 columns]

# Nan값의 행에 해당 상품과 똑같은 가격을 집어 넣기

for문을 생각하보자 

아래의 코드를 설명하자면 list 안에있는 Nan_price의 item_name을 출력값 안에서 

origin_price의 아이템 이름의 행이 e의 item_price와 같다고 생각하면된다 여기서 왜 .iloc[0]을 

썼냐면? 어차피 iloc에서 첫번쨰 행의 값은 다 같다라고 볼 수있다. 나중에 한번 봐바라 

그 다음 uriage_data의 아이템 가격 중 Nanprice와 아이템이름의 행은 앞서 입력한 e 와 같고 
그 값도 avr과 같다 그것을 오지게 반복해줘라

In [14]:
for e in list(uriage_data.loc[Nan_price, "item_name"].unique()):
    
#     print(e) 
    avr= origin_price.loc[(origin_price["item_name"] == e), "item_price"].iloc[0]


    uriage_data["item_price"].loc[(Nan_price) & (uriage_data["item_name"]==e)] =avr
    
uriage_data

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S      1900.0           김우찬
2     2019-05-11 19:42       상품A       100.0           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A       100.0           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q      1700.0           김지율
2997  2019-07-14 12:56       상품H       800.0           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

# 날짜의 형변환!!!!

In [15]:
uriage_data["purchase_date"]= pd.to_datetime(uriage_data["purchase_date"])

In [16]:
uriage_data["purchase_month"] = uriage_data["purchase_date"].dt.strftime("%Y%m")

In [17]:
#kokyaku_data의 날짜
before_date= kokyaku_data['등록일'].astype('str').str.isdigit()

In [18]:
 after_date =pd.to_timedelta(kokyaku_data.loc[before_date,'등록일'].astype("float"), unit="D") + pd.to_datetime("1900/1/1")

In [19]:
after_date

1     2017-02-18
3     2017-05-19
4     2018-01-29
21    2017-07-06
27    2017-06-17
47    2017-01-08
49    2017-07-15
53    2017-04-10
76    2018-03-31
80    2018-01-12
99    2017-06-01
114   2018-06-05
118   2018-01-31
122   2018-04-18
139   2017-05-27
143   2017-03-26
155   2017-01-21
172   2018-03-24
179   2017-01-10
183   2017-07-26
186   2018-07-15
192   2018-06-10
Name: 등록일, dtype: datetime64[ns]

In [20]:
a23 = []

for i in kokyaku_data.loc[after_date,"등록일"]:
   a23.append(pd.Timedelta(int(i), unit="D") + datetime.datetime(1900,1,1))

KeyError: "None of [DatetimeIndex(['2017-02-18', '2017-05-19', '2018-01-29', '2017-07-06',\n               '2017-06-17', '2017-01-08', '2017-07-15', '2017-04-10',\n               '2018-03-31', '2018-01-12', '2017-06-01', '2018-06-05',\n               '2018-01-31', '2018-04-18', '2017-05-27', '2017-03-26',\n               '2017-01-21', '2018-03-24', '2017-01-10', '2017-07-26',\n               '2018-07-15', '2018-06-10'],\n              dtype='datetime64[ns]', freq=None)] are in the [index]"

In [ ]:
before_date2 = pd.to_datetime.loc