# Pandas 입문기 

1. 데이터 분석 및 가공에 사용되는 파이썬 라이브러리

2. 엑셀과 상당히 유사

3. 데이터의 수정/가공 및 분석이 용이

4. 데이터 가공을 위한 수많은 함수를 지원 

5. Numpy 기반으로 데이터 처리가 상당히 빠름 

## pandas 자료구조 

1. 목적 형식적으로 서로 다른 여러 가지 유형의 데이터를 공통의 포맷으로 정리하는 것 

2. 판다스 시리즈와 데이터프레임이라는 구조화된 데이터형식을 제공 

## 시리즈 

1. 일차원 레이블 배열과 같은 구조

2. 모든 데이터 유형을 포함 할 수 있음

3. 두개의 배열(array) 인덱스 기능을 하는 배열과 실제 데이터를 포함하는 배열의 구조

In [1]:
# 딕셔너리의 시리즈 변환 

import pandas as pd 

# k:v 구조를 갖는 딕셔너리를 만들고 변수 dict_data에 저장 

dict_data = {'a':1,'b':2,'c':3}

# 판다스 Series()함수로 딕셔너리(dict_data)를 시리즈로 변환

sr= pd.Series(dict_data)

# 변수 sr의 자료형 출력

print(type(sr))

print('\n')

# 변수 sr에 저장되어있는 시리즈 객체를 출력

print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

# 인덱스 구조

인덱스는 자기와 짝을 이루는 원소의 순서와 주소를 저장 

인덱스를 활용하여 데이터 값의 탐색 정렬 선택 결합 데이터 조작함 

인덱스의 종류 

정수형 위치 인덱스 

인덱스 이름 또는 인덱스 라벨 

 인덱스의 유형에 따라 사용법이 조금 다름 ▪ 정수형 인덱스: 대괄호([ ]) 안에 숫자 입력. 
(0부터 시작)

▪ 인덱스 이름

(라벨): 대괄호([ ]) 안에 이름과 함께 따옴표를 입력. 

▪큰 따옴표(“ ”), 작은 따옴표(‘ ’) 모두 사용

In [26]:
import pandas as pd

list_data = ['2021-06-30', 820107750957,'LHS',183, 83]

hs = pd.Series(list_data)

print(hs)

print('\n')   # 가독성...때문이구나....!!



# 인덱스 배열은 변수 idx에 저장. 데이터 값 배열은 벼수 val에 저장

idx = sr.index
val = sr.values

print(idx)
print('\n')
print(val)

0      2021-06-30
1    820107750957
2             LHS
3             183
4              83
dtype: object


Index(['a', 'b', 'c'], dtype='object')


[1 2 3]

# 원소 선택 

인덱스를 이용하여 시리즈의 원소를 선택

In [41]:
# 리스트의 시리즈 변환

import pandas as pd 

#튜플을 시리즈로 변환

tup_data = ('이희승', '1996-08-15','남',True)
hs = pd.Series(tup_data, index=['이름', '생년 월일','성별','학생여부'])

print(hs)

이름              이희승
생년 월일    1996-08-15
성별                남
학생여부           True
dtype: object

# 튜플, 시리즈는 그냥 벡터라고 생각하면 됨

# o o o o 
# o o o o  이런구조

데이터 프레임 구조를 쓰면 내가 원했던 

o o o o o

o o o o o 

o o o o o 를 쓸 수있지? 


말 나온김에 데이터 프레임을 들어가자 

2차원 배열 

열은 시리즈 객체

행 인덱스와 열 이름 또는 열 라벨로 구분


## 예시 

## 주식 종목 리스트에서 각 행은 하나의 주식 종목에 관한 관측값을 나타낸다

## 각 열은 종목 코드 , 회사이름 액면가 총 주식수 등 공통의 속성이나 범주로 나타냄 보통 변수로 활용

In [48]:
# DafaFrame  

#pandas.DataFrame (딕셔너리) 이렇게 쓴다.

import pandas as pd 

# 열이름은 key로하고 리스트를 value로 갖는 딕셔너리로 정의 

dic_data = {'희찬':['1996-08-15',183,83],'가민':['1998-11-01',163,53]}

df = pd.DataFrame(dic_data)

print(type(df))
print('\n')
print(df)

df

<class 'pandas.core.frame.DataFrame'>


           희찬          가민
0  1996-08-15  1998-11-01
1         183         163
2          83          53

           희찬          가민
0  1996-08-15  1998-11-01
1         183         163
2          83          53

# 행 인덱스/열 이름 설정

pandas.DataFrame(2차원 배열, index=행 인덱스 배열, columns= 열 이름 배열)

In [56]:
df =pd.DataFrame([[26,'남','이희승',183,83],[24,'여','남가민',163,53]],
                 index=['희찬','가민'],
                 columns=['나이','성별','이름','키','몸무게'])

df

# df.columns
# df.index

    나이 성별   이름    키  몸무게
희찬  26  남  이희승  183   83
가민  24  여  남가민  163   53

In [62]:
# 행 인덱스, 열 이름 변경하기

df.index=['천재','바보']

df

C:\Users\User\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

    나이 성별   이름    키  몸무게
천재  26  남  이희승  183   83

# 행/열 삭제



## 행 삭제 : DataFrame 객체.drop(행인덱스 또는 배열, axis = 0)

## 열 삭제 : DataFrame 객체.drop(열 이름 또는 배열, axis= 1 )

In [69]:
# 행 삭제 drop( )

df 

df2 = df[:]  # df의 데이터 프레임을 df2로 복사한다는 뜻이다.


df2.drop('천재')

# 열 삭제 

df3 =df[:]

df3.drop('몸무게',axis=1,inplace =True)
df3

    나이 성별   이름    키
천재  26  남  이희승  183
바보  24  여  남가민  163

# 행 선택

loc 와 iloc 인덱서를 사용

인덱스 이름을 기준으로 행을 선택할 때 loc 사용 !!!!

정수형 위치 인덱스를 사용할 때는 iloc 사용!!! 

해보자고

In [83]:

exam_data={'키' : [ 180, 179, 178, 177, 176, 175, 174], '몸무게' : [ 100, 95, 90, 85, 80, 75, 70],
           '전공' : ['신소재','통계','컴공','사회학','경제','경영','물리'], '노트북' : ['삼성','엘지','아수수','엘지','엘지','X','X']}

df = pd.DataFrame(exam_data, index =['희승','옥지','가민','김옥지','명수','홍철','옥조'])


df

       키  몸무게   전공  노트북
희승   180  100  신소재   삼성
옥지   179   95   통계   엘지
가민   178   90   컴공  아수수
김옥지  177   85  사회학   엘지
명수   176   80   경제   엘지
홍철   175   75   경영    X
옥조   174   70   물리    X

In [89]:
# loc - 인덱스 이름을 기준으로 행을 선택할 때 

label1 =df.loc['희승']
#position =df.iloc[0]

print(label1)

키      180
몸무게    100
전공     신소재
노트북     삼성
Name: 희승, dtype: object

In [ ]:
=